    * {
        margin: 0;
        padding: 0;
    }

    :root {
        --primary-color: #fff;
        --secondary-color: #272727;
        --tertiary-color: #2d2d2d;
        --quaternary-color: #414141;
        --quinary-color: #343434;
        --senary-color: #b040ff;
    }

    body {
        background-color: var(--secondary-color);
        color: var(--primary-color);
    }

    .header img {
        width: 45px;
    }

    .header,

    .navegador {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .header {
        background-color: var(--tertiary-color);
        box-shadow: 1px 1px 4px var(--quinary-color);
        height: 3.5em;
        justify-content: space-between;
        padding: 0 3%;
    }

    .navegador {
        gap: 3em;
        z-index: 2;
    }

    .navegador a {
        text-decoration: none;
        color: var(--primary-color);
        transition: 1s;
        border-radius: 10px;
    }

    .active {
        background-color: var(--quaternary-color);
        padding: 10px;
        border-radius: 10px;
    }


    .btn-icon {
        background-color: transparent;
        cursor: pointer;
        border: none;
        color: var(--primary-color);
        display: none;
    }

    @media screen and (max-width: 768px) {
        .btn-icon {
            display: block;
        }

        .navegador {
            position: absolute;
            flex-direction: column;
            top: 0;
            background-color: var(--quinary-color);
            height: 100%;
            width: 35vw;
            padding: 1em;
            animation-duration: 1s;
            margin-left: -100vw;
            border-radius: 25px;
        }

        .image {
            position: absolute;
            flex-direction: column;
            top: 95%;
        }
    }


    @keyframes showSidebar {
        from {
            margin-left: -100vw;
        }

        top {
            margin-left: -10vw;
        }
        
        
    }


    .section1 {
        height: 100%;
        width: 100%;
        min-height: 100vh;
        position: relative;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        gap: 2rem;
    }

    .content {
        max-width: 600px;
    }

    .navegador a {
        text-decoration: none;
        color: var(--senary-color);
        transition: 1s;
        font-weight: bold;
    }


    .content h1 {
        font-family: "Jaro", sans-serif;
        color: var();
        font-size: 80px;
        line-height: 1;
        margin: 0 0 30px;
    }

    .content p {
        color: var(--color-white);
        font-size: 15px;
        line-height: 1.9;
        margin-bottom: 40px;
    }

    .image {
        width: 70%;
        max-width: 62,5rem;
        margin: 0 auto;
        padding: 0;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .image img {
        width: 100%;
        border-radius: 40px;
    }

    .content p{
        font-family: 'Courier New', Courier, monospace;
        margin-top: 20px;
        font-weight: bold;
        font-size: 20px;
        line-height: 40px;
        color: var(--senary-color);
        text-align: left;
        padding: 0 20px;
        overflow: hidden;
    }
